body{
    background-color: aliceblue;
}

nav{
    display: flex;
    justify-content: space-between;
}

a{
    background-color: rgb(160, 255, 234);
    padding: 10px;
}

input{
    padding: 10px;
}

